<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dog</title>
    <link
      rel="stylesheet"
      href="/petshop-web/frontend/resources/style/cat.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="headerFrame1">
        <a href="/petshop-web/frontend/view/home.html">
          <img src="/petshop-web/frontend/resources/image/logo.avif" />
        </a>
        <div class="search-wrapper">
  <div class="search">
    <input type="text" id="searchInput" placeholder="Tìm kiếm..." onfocus="showSuggestions()" onblur="hideSuggestionsWithDelay()" oninput="handleTyping()" />
    <button type="submit">
      <img src="/petshop-web/frontend/resources/image/search.png" alt="#" />
    </button>
  </div>
  
  <div id="searchResults" class="suggestion-box hidden"></div>
</div>
        <div class="cacdvukhac">
          <button class="btn" onclick="clickbtn()">
            <img src="https://cdn-icons-png.flaticon.com/128/6924/6924546.png" />
            <p>Wishlist</p>
          </button>
        </div>
        <div class="cacdvukhac">
          <button class="btn" onclick="clickbtn()">
            <img src="https://cdn-icons-png.flaticon.com/128/16470/16470836.png" />
            <p>Đăng nhập</p>
          </button>
          <script src="/petshop-web/frontend/resources/script/home.js"></script>
          <div id="login-overlap" class="login-overlap hidden">
            <div id="loginform" class="login-form">
              <div class="login-content">
                <span class="close-btn" onclick="clickbtn()">×</span>
                <h3>Đăng Nhập</h3>
                <input type="email" placeholder="Email" required />
                <input type="password" placeholder="Mật khẩu" required />
                <button>Đăng Nhập</button>
                <a href="#">Quên mật khẩu?</a>
                <button onclick="clickbtn2()" class="register-btn">
                  Tạo tài khoản mới
                </button>
                <div id="creatform" class="creatform hidden">
                  <div class="creat-content">
                    <span class="close" onclick="clickbtn2()">×</span>
                    <h3>Tạo tài khoản mới</h3>
                    <input type="text" placeholder="Tên người dùng" required />
                    <input
                      type="email"
                      placeholder="Email đăng nhập"
                      required
                    />
                    <input
                      type="text"
                      name=""
                      placeholder="Mật khẩu"
                      required
                    />
                    <button>Quay lại trang đang nhập</button>
                    <button>Xác nhận</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cacdvukhac">
          <a href="cart.html">
            <img src="https://cdn-icons-png.flaticon.com/128/9284/9284424.png" />
            <p>Giỏ Hàng</p>
          </a>
        </div>
      </div>

      <nav class="menu">
        <ul>
          <li>
            <a href="/petshop-web/frontend/view/dog/dog.html">Chó</a>
            <div class="divmenu">
              <a href="/petshop-web/frontend/view/dog/doghygiene.html">Chăm sóc vệ sinh cún</a>
              <a href="/petshop-web/frontend/view/dog/dogfood.html">Thức ăn cho cúnn</a>
              <a href="/petshop-web/frontend/view/dog/dogcake.html">Bánh Thưởng</a>
              <a href="/petshop-web/frontend/view/dog/dogaccessoriestoys.html">Phụ Kiện và đồ chơi</a>
              <a href="/petshop-web/frontend/view/dog/doghealthcare.html">Chăm Sóc Sức Khỏe Cún</a>
              <a href="/petshop-web/frontend/view/dog/dogtransportcage.html">Vận Chuyển</a>
            </div>
          </li>
          <li>
            <a href="/petshop-web/frontend/view/cat/cat.html">Mèo</a>
            <div class="divmenu">
              <a href="/petshop-web/frontend/view/cat/catfood.html">Thức ăn cho mèo</a>
              <a href="/petshop-web/frontend/view/cat/accessoriestoys.html">Phụ Kiện và đồ chơi</a>
              <a href="/petshop-web/frontend/view/cat/healthcare.html">Chăm Sóc Sức Khỏe</a>
              <a href="/petshop-web/frontend/view/cat/transportcage.html">Vận Chuyển-Chuồng</a>
              <a href="/petshop-web/frontend/view/cat/hygiene.html">Vệ sinh</a>
            </div>
          </li>
          <li><a href="/petshop-web/frontend/view/newproducts.html">Hàng mới về</a></li>
          <li>
            <a href="/petshop-web/frontend/view/smart/smart.html">Thiết bị thông minh </a>
            <div class="divmenu">
              <a href="/petshop-web/frontend/view/smart/feeder.html">Máy ăn uống tự động</a>
              <a href="/petshop-web/frontend/view/smart/pet-toilet.html">Nhà vệ sinh tự động</a>
            </div>
          </li>
          <li><a href="/petshop-web/frontend/view/trademark.html">Thương hiệu</a></li>
          <li><a href="/petshop-web/frontend/view/contact.html">Liên hệ</a></li>
        </ul>
      </nav>
    </div>

    <h2 class="title">Dịch vụ sản phẩm vệ sinh cho mèo</h2>

    <div id="product-list" class="divbody">
      <div class="classify">
        <label>LOẠI SẢN PHẨM</label>
        <div style="display: flex; gap: 10px;">
            <input type="checkbox" name="category" value="catmeo" class="chonThucAn"/>
            <p>Cát Mèo </p>
        </div>
        <div style="display: flex; gap: 10px;">
            <input type="checkbox" name="category" value="chamsocmeo" class="chonThucAn"/>
            <p>Chăm Sóc Răng Miệng </p>
        </div>
        <div style="display: flex; gap: 10px;">
            <input type="checkbox" name="category" value="suatammeo" class="chonThucAn"/>
            <p>Sữa tắm</p>
        </div>
        <div style="display: flex; gap: 10px;">
            <input type="checkbox"name="category" value="xitkhumuimeo" class="chonThucAn"/>
            <p>Xịt Khửi Mùi</p>
        </div>
      </div>
      <div class="productlist">
      
        <div id="productlist" class="productlist1">
          <div style="display: none;" id="product" class="productlist1child">
            <img class="img" src="" />
            <div>
              <p class="name"></p>
              <p class="brand"></p>
              <p class="price" style="color: crimson; font-weight: bold"></p>
              <button class="chitiet">Chi tiết sản phẩm</button>
            </div>
          </div>
          </div>
         </div>
        </div>

    <footer class="foot">
        <div class="footchild">
            <h2>Thành viên Paddiers</h2>
            <p>
                Đăng ký thành viên ngay hôm nay để nhận email về sản phẩm mới và
                chương trình khuyến mãi của Paddy
            </p>
            <div class="footchild1">
                <input type="text" placeholder="Email của bạn..." />
                <button type="submit">Đăng Ký</button>
            </div>
        </div>
        <div class="fulldvu">
            <div class="fulldvuchild">
                <b>Shop</b>
                <a href="/petshop-web/frontend/view/dog/dog.html">Dành Cho Chó</a>
                <a href="/petshop-web/frontend/view/cat/cat.html">Dành Cho Mèo</a>
                <a href="/petshop-web/frontend/view/trademark.html">Thương Hiệu</a>
            </div>

            <div class="fulldvuchild">
                <b>Paddy Pet Shop</b>
                <a href="petshop-web/frontend/view/contact.html">Giới Thiệu</a>
                <a href="petshop-web/frontend/view/foodpage/member.html">Thành Viên Paddier</a>
                <a href="petshop-web/frontend/view/foodpage/terms.html">Điều Khoản Sử Dụng</a>
                <a href="petshop-web/frontend/view/foodpage/recruiment.html">Tuyển Dụng</a>
            </div>
            <div class="fulldvuchild">
                <b>Hỗ Trợ Khách Hàng</b>
                <a href="petshop-web/frontend/view/foodpage/exchange.html">Chính Sách Đổi Trả Hàng</a>
                <a href="petshop-web/frontend/view/foodpage/transfer.html">Phương Thức Vận Chuyển</a>
                <a href="petshop-web/frontend/view/foodpage/privacy.html">Chính Sách Bảo Mật</a>
                <a href="petshop-web/frontend/view/foodpage/payment.html">Phương Thức Thanh Toán</a>
                <a href="petshop-web/frontend/view/foodpage/refund.html">Chính Sách Hoàn Tiền</a>
            </div>
            <div class="fulldvuchild">
                <b>Liên Hệ</b>
                <p>Kiến Trúc Hà Nội</p>
                <p>
                    XQJQ+6M, Quận Hà Đông, Thành phố Hà Nội,
                    Việt Nam
                </p>

                <p><span class="icons"></span>
                    <img src="/petshop-web/frontend/resources/image/telephone-call.png" width="20px" class="icon"
                        alt="">
                    Hotline: 0867677891
                </p>
                <p><span class="icons"></span>
                    <img src="/petshop-web/frontend/resources/image/email.png" width="20px" class="icon" alt="">Email:
                    contact@paddy.vn
                </p>
                <p>
                    <span class="icons"></span>
                    <img src="/petshop-web/frontend/resources/image/facebook.png" width="20px" class="iconn" alt="">
                    <img src="/petshop-web/frontend/resources/image/tiktok.png" width="20px" class="iconn" alt="">
                    <img src="/petshop-web/frontend/resources/image/youtube.png" width="20px" class="iconn" alt="">
                </p>


            </div>
        </div>
    </footer>
          <script src="/petshop-web/frontend/resources/script/cat/hygienescript.js"></script>
  </body>
</html>